<%= stylesheet_link_tag "user_infos/merchant_agreement" %>

<div class="container content">

	<DIV id="id_1">
		<P class="p0 ft0">Last updated: Wednesday June 12th 2013</P>
		<P class="p1 ft1">Retailer Agreement</P>
		<P class="p2 ft2">This Agreement sets forth the terms and conditions applicable to the use of Shopulse’s e­commerce services by merchants and retailers (the “Services”). The Services allow you to display and advertise items available for sale in your store on our website at www.shopulse.com (the “Site”). When used herein the terms “Shopulse”, “us”, “our” and “we” refer to Shopulse and the term “you” refers to you the merchant or retailer.</P>
		<P class="p3 ft2">Please read this agreement carefully. BY OPENING AN ACCOUNT WITH US AND USING THE SERVICES, YOU AGREE TO BE BOUND BY THIS AGREEMENT AND ALL RELATED POLICIES, CONDITIONS, AND GUIDELINES. IF YOU DO NOT AGREE WITH THESE TERMS, YOU MAY NOT USE OUR SERVICES.</P>
		<P class="p4 ft3">Product Listings</P>
		<P class="p5 ft4">You will provide in the format we require accurate and complete information for each product that you make available to be listed for sale through the Site and promptly update such information as necessary to ensure it at all times remains accurate and complete. You will also ensure that your product description, your products (including packaging) and your offer and subsequent sale of any of the same comply with all applicable Laws (including all minimum age, marking and labelling requirements) and do not contain any sexually explicit, defamatory or obscene materials.</P>
		<P class="p6 ft2">We will list your products for sale on the Site and conduct merchandising and promotion as determined by us in our sole and absolute discretion.</P>
		<P class="p7 ft2">We will have the right in our sole discretion to determine the content, appearance, design, functionality and all other aspects of the Site and to delay or suspend listing of, or to refuse to list, or to de­list, or to require you not to list, any or all products in our sole discretion.</P>
		<P class="p4 ft3">Products Not Sold Through The Site</P>
	</DIV>
	<DIV id="id_2">
		<P class="p0 ft2">For products you list that are not fulfilled by us through the buy it now feature, you acknowledge and agree that you are completely responsible for the sale of such items, including collecting</P>
	</DIV>

	<DIV id="page_2">
		<P class="p8 ft2">payment, shipping and handling returns and refunds. We have no responsibilities, obligations or liability in connection with such transactions which occur entirely outside of our services and control.</P>
		<P class="p9 ft3">Products Sold Through The Site</P>
		<P class="p10 ft2">For products that you list for sale on our site, we will be responsible for collecting payment and arranging fulfillment as set forth in this section.</P>
		<P class="p11 ft4">We will provide order information to you for each sale of your products through the Site. We will also collect the sales proceeds for each of these transactions and will remit them to you in accordance with this Agreement. We will bear the risk of credit card fraud (i.e. fraudulent purchase arising from the theft and unauthorized use of a third party's credit card information) occurring in connection with transactions, and you will bear all other risk of fraud or loss; provided, that we will not bear the risk of credit card fraud in connection with any product that is not fulfilled strictly in accordance with the order and shipment information we provide. We may in our sole discretion withhold for investigation, refuse to process, restrict shipping destinations for, stop and/or cancel any of your transactions. You will stop and/or cancel orders of your products if we ask you to do so. You will refund any customer that has been charged for an order that we stop or cancel.</P>
		<P class="p12 ft2">Upon your receipt of order information from us, you will notify us by return email within six business hours whether or not the product is available for sale. Once you have confirmed that the product is available for sale, you will not sell or otherwise offer such product for sale to any other person.</P>
		<P class="p13 ft2">Upon receipt of shipping information from us, you will promptly package and prepare the product for collection by our courier, if it applies. If we do not schedule collection, you will need to ship the package by yourself in 48 hours following the time the order was placed. You will package all items in accordance with the standards of the shipping company. You bear the risk of damage and return or refund for any product that is not properly packaged.</P>
		<P class="p14 ft3">Customer Info</P>
		<P class="p15 ft2">You agree that any customer information provided by us to you is our confidential information and may only be used by you to ship the the purchased item and to otherwise manage any return, refund or warranty service for such item. You may not use such info for marketing purposes and you may not disclose such information to any other person.</P>
	</DIV>
	<DIV id="page_3">
		<P class="p16 ft3">Compensation for Products Sold Through The Site</P>
		<P class="p17 ft2">You will determine the retail price for any product sold through our site. Shipping handling, delivery, taxes, applicable tariffs, transaction fee and other charges will be added by us to the retail price at the time of purchase.</P>
		<P class="p11 ft2">You agree that we will collect a commission of 15% of the retail price of all products sold through the buy it now feature, plus a 2.9% transaction fee that will be added on top of your products prices. We may change this commission rate at any time with a 30 days notice to you.</P>
		<P class="p18 ft2">We will pay to you the retail price of all products sold plus HST collected on the sale, net of our commission and any HST applicable to our commission, on a bi­weekly basis.</P>
		<P class="p9 ft3">Privacy</P>
		<P class="p19 ft2">You are required to review and abide by our Privacy Policy which governs your use of our Services.</P>
		<P class="p9 ft3">Term and Termination</P>
		<P class="p20 ft2">The term of this Agreement will start on the date of your opening an account with us and will continue until terminated by us or you as provided below. We may terminate or suspend this Agreement immediately by notice to you for any reason at any time. You may terminate this Agreement for any reason at any time by 15 days notice to us by email.</P>
		<P class="p9 ft3">License</P>
		<P class="p21 ft2">You grant us a royalty­free, non­exclusive, worldwide, perpetual, irrevocable right and license to use, reproduce, perform, display, distribute, adapt, modify, re­format, create derivative works of, and otherwise commercially or non­commercially exploit in any manner, any and all of the content you supply in connection with your product listings, and to sublicense the foregoing rights to our affiliates; provided, however, that we will not alter any of your trademarks from the form provided by you (except to re­size trademarks to the extent necessary for presentation, so long as the relative proportions of such trademarks remain the same).</P>
	</DIV>
	<DIV id="page_4">
		<DIV id="id_1">
			<P class="p0 ft3">Indemnification</P>
			<P class="p22 ft2">You release us and agree to indemnify, defend and hold harmless us (and our officers, directors, employees, and agents) against any claim, loss, damage, settlement, cost, expense or other liability (including, without limitation, attorneys' fees) (each, a “Claim”) arising from or related to:</P>
			<P class="p23 ft2">(a) your actual or alleged breach of any obligations in this Agreement; (b) any sales channels owned or operated by you, your products, your listing information, any actual or alleged infringement of any intellectual or industrial property rights by any of the foregoing, and any personal injury, death or property damage related thereto; or (c) any taxes you are liable to pay. You will use counsel reasonably satisfactory to us to defend each indemnified Claim. If at any time we reasonably determine that any indemnified Claim might adversely affect us, we may take control of the defense at our expense. You may not consent to the entry of any judgment or enter into any settlement of a Claim without our prior written consent, which may not be unreasonably withheld.</P>
			<P class="p4 ft3">Disclaimer of Warranties and Limitation of Liability</P>
			<P class="p24 ft2">THE SITE AND SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE AND SERVICES ARE AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THE SITE OR SERVICES, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.</P>
			<P class="p25 ft2">THE LAWS OF CERTAIN JURISDICTIONS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MIGHT NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</P>
			<P class="p4 ft3">Confidentiality</P>
		</DIV>
		<DIV id="id_2">
			<P class="p0 ft5">During the course of your use of the Services, you may receive information relating to us or to</P>
		</DIV>
	</DIV>
	<DIV id="page_5">
		<DIV id="dimg1">
			<P class="p26 ft5">the Services that is not known to the general public (“Confidential Information”). You agree that:</P>
			<P class="p27 ft2">(a) all Confidential Information will remain our exclusive property; (b) you will use Confidential Information only as is reasonably necessary for your participation in the Services; (c) you will not otherwise disclose Confidential Information to any individual, company, or other third party, and</P>
			<P class="p28 ft2">(d) you will take all reasonable measures to protect the Confidential Information against any use or disclosure that is not expressly permitted in this Agreement. You may not issue any press release or make any public statement related to the Services, or use our name, trademarks or logo, in any way (including in promotional material) without our advance written permission, or misrepresent or embellish the relationship between us in any way.</P>
			<P class="p9 ft3">Miscellaneous</P>
			<P class="p29 ft2">This Agreement is governed exclusively by the laws of the Province of New Brunswick, Canada notwithstanding any principles of conflicts of law. To the extent permitted by applicable law, any claim, dispute or controversy between you and us shall be determined by final and binding arbitration, with no right of appeal, even on questions of law. Such arbitration will be conducted in Moncton, New Brunswick, Canada in the English or French language. If the foregoing arbitration is not permitted by applicable law or any court with jurisdiction, you irrevocably agree that all claims, disputes or controversies shall be settled exclusively by the courts of the Province of New Brunswick.</P>
			<P class="p30 ft2">We will not be liable for any delay or failure to perform any of our obligations under this Agreement by reasons, events or other matters beyond our reasonable control.</P>
			<P class="p31 ft2">You and we are independent contractors, and nothing in this Agreement will create any partnership, joint venture, agency, franchise, sales representative, or employment relationship between us. You will have no authority to make or accept any offers or representations on our behalf. You will not make any statement, whether on your site or otherwise, that would contradict anything in this section. This Agreement will not create an exclusive relationship between you and us. Nothing expressed or mentioned in or implied from this Agreement is intended or shall be construed to give to any person other than the parties hereto any legal or equitable right, remedy, or claim under or in respect to this Agreement.</P>
			<P class="p32 ft2">You may not assign this Agreement, by operation of law or otherwise, without our prior written consent. Subject to that restriction, this Agreement will be binding on, inure to, and be enforceable against the parties and their respective successors and assigns. Our failure to enforce your strict performance of any provision of this Agreement will not constitute a waiver of our right to enforce such provision or any other provision of this Agreement subsequently.</P>
		</DIV>
		<DIV id="page_6">
			<DIV class="dclr"></DIV>
			<P class="p33 ft2">We will send all notices and other communications regarding this Agreement to you at the e­mail addresses you designated for notifications and updates in your account registration.</P>
			<P class="p34 ft2">If any provision of this Agreement shall be deemed unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these terms and conditions and shall not affect the validity and enforceability of any remaining provisions. This Agreement represents the entire agreement between the parties with respect to the Services and related subject matter described herein and supersedes any previous or contemporaneous oral or written agreements and understandings.</P>
			<P class="p35 ft2">You agree, as the Retailer, that you are an authorized retailer of every product you sell on Shopulse. We reserve the right to check with the brands themselves to verify. If we get contacted by a brand saying that you are not an authorized retailer of their products and that you have no valid proof of being one, we allow ourselves to remove the concerned products from our site or to suspend your account.</P>
			<P class="p36 ft3">Modification</P>
			<P class="p37 ft2">We may amend any of the terms and conditions contained in this Agreement at any time and at our sole discretion. Any changes will be effective upon the posting of such changes on the Site, and you are responsible for reviewing the Site and informing yourself of all applicable changes or notices. All notice of changes to the Agreement will be posted for at least 30 days. You should refer regularly to the Site to understand the current Agreement and to be sure that the items you offer for sale can be sold via the Services. YOUR CONTINUED USE OF THE SERVICES AFTER POSTING OF ANY CHANGES WILL CONSTITUTE YOUR ACCEPTANCE OF SUCH CHANGES OR MODIFICATIONS. IF YOU DO NOT AGREE TO ANY CHANGES TO THIS AGREEMENT, YOU MUST TERMINATE THIS AGREEMENT AS PROVIDED ABOVE.</P>
		</DIV>
	</div>
</div>