#form-container
{
	padding: 30px;
	background-color: white;
	width: auto;
	border-radius: 10px;	
}

#new_product .row-fluid
{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
	padding-top: 20px;
}

.icon-eject
{	
	font-size: 20px;
	color: black;
	transition: 0.3s;
	cursor: pointer;
}
.icon-eject:hover
{
	color: red;
}

.container
{
	width: 1030px;
}

.header
{
	border-bottom: 1px solid lightgrey;
}

.form-horizontal .control-label 
{
	width: 106px;
}

.form-horizontal .controls 
{
	margin-left: 120px;
}

#size_table input
{
	width: 100px;
}

#size_list
{
	width: 190px;
}

.form-actions
{
	margin: 0px;
	padding: 20px 0 0 0;
}