#new_product .row-fluid
{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
	padding-top: 20px;
}

.icon-eject
{	
	font-size: 20px;
	color: black;
	transition: 0.3s;
	cursor: pointer;
}
.icon-eject:hover
{
	color: red;
};
