<script type="text/javascript">
	$(document).ready(function(){
		json_to_table();
		set_gender();
		fileList();
	});
</script>
<%= javascript_include_tag "edit" %>

<%- model_class = Product -%>
<div class="page-header">
  <h1>Edit Product</h1>
</div>
<%= render :partial => 'form' %>
